<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create-user" th:object="${personForm}" method="post">
    <label for="name_id">Enter your name:</label><br>
    <input type="text" class="form-control" id="name_id" placeholder="name" th:field="*{name}"><br>
    <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
    <label for="bio_id">Tell a bit about yourself!</label><br>
    <input type="text" class="form-control" id="bio_id" placeholder="about you" th:field="*{bio}"><br>
    <button type="submit">let's go</button>
</form>
</body>
</html>