<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hangouts</title>
    </head>
    <body>


    <a href="circles" class="button">circles</a>

    <br>
    <br>
    <br>

    <!-- todo: css class für button -->
    <a href="hangouts" class="button">hangouts</a>

    <br>
    <br>
    <br>

    <a th:href="@{/profile/{username}(username=${username})}" class="button">Profile</a>



    <!-- todo: page with only upcoming hangouts
    <a href="hangout/scheduled-hangouts"> upcoming hangouts </a> -->






    </body>
</html>